<ul id="messages" class="list-unstyled"></ul>

<footer class="footer">
  <form action="" class="form-inline" id="chat">
    <div class="input-group">
      <input id="m" autocomplete="off" class="form-control" />
      <span class="input-group-btn">
        <button class="btn btn-default">Send</button>
      </span>
    </div>
  </form>
</footer>
